body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: BarlowCondensed-ExtraLight;
  src: url('./shrift/BarlowCondensed-ExtraLight.otf') format('opentype');
}

.main{
  display: flex;
  flex-wrap: wrap;
  font-family: Barlow Condensed ExtraLight, sans-serif;
  width: 1600px;
  height: 1200px;
  background-color: #EFF6FF;
  flex: 33.33%;
}

@media screen and (max-width: 380px) {
  .main {
    flex: 100%;
  }
}

.bg{
  position: absolute;
  top: 100px;
  left: 87px;
  width: 760px;
  height: 1000px;
}

.text_iinto-big {
  position: absolute;
  top: 94px;
  left: 127px;
  width: 50px;
  height: 28px;
  font-size: 40px;
  color: #FFFFFF;
  z-index: 1;
}

.text_iinto-big p span {
  position: absolute;
  top: 40px;
  left: 69px;
  width: 50px;
  height: 28px;
  font-size: 40px;
  color: #FFFFFF;
}

.text_iinto-small {
  position: absolute;
  left: 225px;
  top: 133px;
  font-size: 12px;
  color: #FFFFFF;
  z-index: 1;
}

.text_iinto-small p span {
  position: absolute;
  left: 0px;
  top: 22px;
  font-size: 12px;
  color: #FFFFFF;
}
