body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: Barlow Medium;
}

@font-face {
  font-family: Barlow Medium;
  src: url('./fonts/Barlow-Medium.otf') format('opentype');
}

.main{
  display: inline-flex;
  flex-wrap: wrap;
  font-family: Barlow Medium;
  width: 1600px;
  height: 1200px;
  background-color: #EFF6FF;
}

@media screen and (max-width >= 1600px) and (max-height >= 1200px) {
  .main {
    min-height: 400px;
    min-width: 600px;
  }
}

.bg{
  position: absolute;
  top: 100px;
  left: 87px;
  width: 760px;
  height: 1000px;
}

.img-logo {
  position: absolute;
  left: 89px;
  top: 143px;
  width: 218px;
  height: 28px;
  z-index: 1;
}
