body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: Barlow;
  src: url('./font/Barlow-Bold.otf') format('opentype');
}

.main{
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
  height: 1200px;
  font-family: Barlow;
  background-color: #EFF6FF;
}

@media screen and (max-width >= 1600px) and (max-height >= 1200px) {
  .main {
    min-height: 400px;
    min-width: 600px;
  }
}

.bg{
  margin-top: 100px;
  margin-left: 100px;
  width: 760px;
  height: 1000px;
}

.img-logo {
  position: absolute;
  left: 89px;
  top: 143px;
  width: 218px;
  height: 28px;
}

.right_section {
	margin-left: 840px;
	margin-top: -1052px;
	width: 680px;
	height: 1000px;
	background-color: #FFFFFF;
}

.text_today {
	margin-left: 72px;
	margin-top: 110px;
	width: 300px;
	font-size: 15px;
	color: #7b8a92;
}

.text_today h1 + p {
	margin-top: 10px;
	margin-left: 0px;
	width: 480px;
	font-size: 18px;
	color: #96a5b1;
}

.favicons {
	display: flex;
	margin-left: 73px;
	margin-top: 55px;
	width: 530px;
	height: 50px;
	font-size: 14px;
}

.btn_facebook {
	margin-left: 0px;
	margin-top: 0px;
	width: 250px;
	height: 42px;
	background-color: #255a9b;
}

.btn_linkedin {
	display: flex;
	margin-left: 36px;
	margin-top: 0px;
	width: 250px;
	height: 42px;
	background-color: #0076b6;
}

.span_text-fac {
	margin-left: 0px;
	margin-top: 0px;
	width: 200px;
	height: 20px;
	color: #ffffff;
}

.span_text-lin {
	margin-left: -20px;
	margin-top: 10px;
	width: 200px;
	height: 20px;
	color: #ffffff;
}

.btn_facebook:hover {
	background-color: #3698fb;
}

.btn_linkedin:hover {
	background-color: #3698fb;
}

.facebook {
	position: absolute;
	margin-left: -42px;
	margin-top: 0px;
	width: 20px;
	height: 20px;
}

.linkedin {
	position: relative;
	margin-top: 7px;
	margin-left: 10px;
	width: 18px;
	height: 20px;
}

.or_liniar {
	display: flex;
	margin-left: 330px;
	margin-top: 50px;
	height: 20px;
}

.or_liniar p {
	margin-left: 0px;
	margin-top: -5px;
	width: 15px;
	height: 15px;
	font-size: 11px;
	color: #afafaf;
}

.or_liniar p + p {
	margin-left: -128px;
	margin-top: 0px;
	width: 108px;
	height: 1px;
	border-bottom: 1px solid #eeeeee;
}

.or_liniar p + p + p {
	margin-top: 0px;
	margin-left: 25px;
	width: 108px;
	height: 1px;
	border-bottom: 1px solid #eeeeee;
}

.form {
	display: flex;
	margin-top: 35px;
	margin-left: 74px;
	color: #afafaf;
	border-left: #3698fb 2px solid;
	font-size: 14px;
	width: 530px;
	z-index: 1;
}

.email_label {
	margin-top: 5px;
	margin-left: 10px;
	z-index: 1;
}

.phon_label {
	margin-top: 5px;
	margin-left: 40px;
	z-index: 1;
}

.email_input {
	margin-top: 0px;
	margin-left: -45px;
	width: 240px;
	height: 48px;
	padding-left: 7px;
	padding-top: 10px;
}

.phon_input {
	margin-top: 0px;
	margin-left: -47px;
	width: 240px;
	height: 48px;
	padding-bottom: 10px;
}

.bottom_title-text {
	margin-top: 48px;
	margin-left: 70px;
	width: 340px;
	font-size: 11px;
	color: #7b8a92;
}

.bottom_children-text {
	font-size: 14px;
	color: #96a5b1;
}

.checkboxes {
	margin-top: 45px;
	margin-left: 60px;
	width: 510px;
  height: 20px;
	color: #7b8a92;
	font-size: 14px;
}

.checkbox_input {
  margin-top: 0px;
  margin-left: 15px;
  width: 16px;
  height: 16px;
}

.checkbox_input1 {
  margin-top: 0px;
  margin-left: 40px;
  width: 16px;
  height: 16px;
}

.checkbox_input2 {
  margin-top: 0px;
  margin-left: 45px;
  width: 16px;
  height: 16px;
}

.checkbox_input3 {
  margin-top: 0px;
  margin-left: 48px;
  width: 16px;
  height: 16px;
}

.check {
	margin-top: 0px;
	margin-left: 5px;
	width: 20px;
	height: 20px;
  font-size: 15px;
}

.check1 {
	margin-top: 0px;
	margin-left: 0px;
	width: 20px;
	height: 20px;
  font-size: 15px;
}

.check2 {
	margin-top: 0px;
	margin-left: 0px;
	width: 20px;
	height: 20px;
  font-size: 15px;
}

.check3 {
	margin-top: 0px;
	margin-left: 0px;
	width: 20px;
	height: 20px;
  font-size: 15px;
}

.help-me {
  margin-top: 5px;
  margin-left: 3px;
  width: 9px;
  height: 9px;
}

.help-me1 {
  margin-top: 5px;
  margin-left: 3px;
  width: 9px;
  height: 9px;
}

.help-me2 {
  margin-top: 5px;
  margin-left: 3px;
  width: 9px;
  height: 9px;
}

.help-me3 {
  margin-top: 5px;
  margin-left: 3px;
  width: 9px;
  height: 9px;
}

.bottom_text-down {
	margin-top: 20px;
	margin-left: 80px;
	width: 244px;
	height: 74px;
	font-size: 13px;
	padding-left: 10px;
	color: #afafaf;
	padding-top: 1px;
	border-radius: 15px;
	background-color: #ffffff;
}

.footer {
	margin-top: 50px;
	margin-left: 70px;
	width: 460px;
	height: 20px;
	display: flex;
	font-size: 13px;
	color: #afafaf;
}

.footer label {
	margin-top: 0px;
	margin-left: 0px;
	width: 460px;
	height: 20px;
}

.footer_input {
	margin-top: 0px;
	margin-left: -220px;
	width: 460px;
	height: 14px;
	font-size: 13px;
	border: 3px solid #eeeeee;
}

.agree_text {
	margin-top: -18px;
	margin-left: 24px;
	width: 340px;
	height: 14px;
}

.agree_href {
	margin-top: 0px;
	margin-left: -6px;
	width: 140px;
	height: 20px;
	color: #3698fb;
}

.btn-create_account {
	margin-top: 53px;
	margin-left: 74px;
	width: 246px;
	height: 43px;
	font-size: 15px;
	color: #ffffff;
	padding: 0px;
	border: none;
	border-radius: 5px;
	background-color: #3698fb;
}

.btn-create_account:hover {
	background-color: #96a5b1;
}

